:root {
  --background-one: #fefaf4;
  --hover: #ff9800;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: var(--background-one);  
}

.container {
  margin: 80px auto 8px auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

a {
  text-decoration: none;
  color: #263238;
}
a:hover {
  color: var(--hover);
}

.bar-separator {
  margin: 6px 0 6px 0;
  height: 1px;
  background-color: #ff9800;
  border: none;
  width: 100%;
}

.sparkTitle {
  color: #ff9800;
  text-align: center;
  font-size: 2rem;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogTitle-root > h2 {
  color: #ff9800 !important;
}

em, strong, h2 {
  font-family: 'Baloo', cursive !important;
  font-size: 1.1em;
}
input {
  font-family: 'Palanquin Dark', sans-serif !important;
}

.icon {
  font-size: 3.5rem !important;
}

.icon2 {
  font-size: 2.5rem !important;
}
.icon4{
  font-size: 2rem !important; 
}
.icon5 {
  font-size: 4rem !important;
}
.icon6 {
  font-size: 1.5rem !important;
}
.icon7 {
  font-size: 7rem !important;
  color: #ff9800;
  align-self: center !important;
}
.icon4:hover{
  font-size: 2.5rem !important;
  color:#fc4a04;
}

.icon3:hover {
  font-size: 2rem;
  color: #fc4a04;
}
.nav-container svg {
  color: #fefaf4;
  font-size: 150%;
}
.nav-container svg:hover {
  color: #ff9800;
}
.candle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}