:root {
  --background-one: #fefaf4;
  --hover: #ff9800;
  --background-two: #263238;
  --delete: #fc4a04;
  --rust: #b7410e;
  --bg-light: #37474f;
  --stout: #361002;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: var(--background-one);  
}

.container {
  margin: 170px auto 0 auto;
  max-width: 1200px;
}

.nav-logo {
  width: 300px;
  height: 74px;
  margin-top: 3px;
  margin-right: auto;
  margin-left: auto;
}
.nav-container {
  margin: auto;
}

.MuiDialogActions-root, .MuiDialogTitle-root {
  justify-content: center !important;
  background-color: var(--bg-light);
}
.MuiDialog-paper {
  border-radius: 16px !important;
}

.MuiToolbar-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; 
}

a {
  text-decoration: none;
  color: var(--background-two);
}
a:hover {
  color: var(--hover);
}

.bar-separator {
  margin: 6px 0 6px 0;
  height: 1px;
  background-color: var(--hover);
  border: none;
  width: 100%;
}

.bar-separator-booz {
  margin: 6px 0 6px 0;
  height: 1px;
  background-color: var(--rust);
  border: none;
  width: 100%;
}

.sparkTitle {
  color: var(--hover);
  text-align: center;
  font-size: 2rem;
}

.boozTitle1 {
  color: var(--rust);
  text-align: center;
  font-size: 2rem;
}

form {
  text-align: center;
}

.boozTitle2 {
  color: var(--rust);
  font-size: 2rem;
}

em, strong, h2 {
  font-family: 'Baloo', cursive !important;
  font-size: 1.1em;
}
input {
  font-family: 'Palanquin Dark', sans-serif !important;
}

.icon {
  font-size: 3.5rem !important;
}

.icon2 {
  font-size: 2.5rem !important;
}
.icon4{
  font-size: 2rem !important; 
}
.icon5 {
  font-size: 4rem !important;
}
.icon6 {
  font-size: 1.5rem !important;
}
.icon7 {
  font-size: 7rem !important;
  color: var(--hover);
  align-self: center !important;
}
.icon8 {
  font-size: 2.5rem !important;
}
.icon8-2 {
  font-size: 2.5rem !important;
  color: var(--rust);
}
.icon8:hover, icon8-2:hover {
  color: var(--rust) !important;
}
.icon9 {
  font-size: 2rem !important;
  position: absolute;
  top: 16%;
  left: 85%;
}
.icon4:hover{
  font-size: 2.5rem !important;
  color: var(--delete);
}

.icon3:hover {
  font-size: 2rem;
  color:  var(--delete);
}
.nav-container svg {
  color: var(--background-one);
  font-size: 150%;
}
.nav-container svg:hover {
  color: var(--hover);
}
.candle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer {
  background-color: var(--bg-light);
  height: 60px;
  width: auto;
  max-width: 1600px;
  text-align: right;
  color:var(--hover);
  padding: 16px 16px 0 16px;
  margin: 8px auto 0 auto;
  border-radius: 16px 0 16px 0;
}

.orange:hover {
  color: var(--hover);
}

.rust:hover {
  color: var(--rust);
}

.rust-border{
  border: 16px solid var(--rust);
} 

.orange-border {
  border: 16px solid var(--hover);
}

.rusty {
  color: var(--rust);
}

.orng {
  color: var(--hover);
} 

.not-orng:hover {
  color: var(--bg-light);
  background-color: var(--rust);
}